* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #F8C3CD;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    border: 20px black dotted;
}

ul {
    line-height: 10;
    background-color: #FEDFE1;
    border-width: 10px;
    border-color: aquamarine;
    border-style:groove;
    border-radius: 12px;
    margin-left: 6%;
    margin-right: 6%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vongole{
    background-color: lightblue;
    padding: 30px;
    display: block;
    border: black 2px dotted;
    margin: 10px;
    
}

.food{
    background-color: green;
}

.food.taco{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    
    
}

.odin,
.ramen{
    background-color: azure;
    padding: 0 10px;
    
}

.ramen {
    margin-right: 0px;
}